.root__section {
  margin: 20px;
}

.root__no-data {
  min-height: 100vh;
  min-width: 100vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: IndianRed;
}
